

.header {
    background: #558b2f;

    .search-button {
        border-radius: 0;
        border:1px solid white;
        color: #558b2f;
        background-color: white;
    }

    .input-search-field {
        border:1px solid white;
        border-radius: 0;
    }

}

.footer-2 {
    background: #558b2f;
}

.row {
    max-width: 1140px;
}

